demo.json
[{"id":"bc830a7f.14f5e","type":"function","z":"dac5a8ba.d3886","name":"check cut-off trigger","func":"if(msg.payload == \"The DC-Out Cut-Off trigger\")\n{\n    return msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":730,"y":160,"wires":[["151abe1b.0f29fa"]]},{"id":"44694ca.b03ddb4","type":"exec","z":"dac5a8ba.d3886","command":"C:\\Windows\\System32\\shutdown.exe","addpay":false,"append":"/s /t 0","useSpawn":"","timer":"2","name":"shutdown","x":1200,"y":134.5,"wires":[[],[],[]]},{"id":"151abe1b.0f29fa","type":"delay","z":"dac5a8ba.d3886","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":160,"wires":[["dc4c7218.e9b6e8"]]},{"id":"b4e5dbd9.0d84b8","type":"ui_text","z":"dac5a8ba.d3886","group":"fefa3f68.4a0948","order":1,"width":0,"height":0,"name":"FW","label":"FW Version","format":"{{msg.payload.fwversion || \"Not available\"}}","layout":"row-spread","x":690,"y":215,"wires":[]},{"id":"bb226910.5d45d","type":"ui_text","z":"dac5a8ba.d3886","group":"fefa3f68.4a0948","order":7,"width":0,"height":0,"name":"inputlostdelay","label":"DC Input Lost Delay Time","format":"{{msg.payload.inputlostdelay}} sec","layout":"row-spread","x":718,"y":442,"wires":[]},{"id":"727f7bb3.1c6d7c","type":"ui_text","z":"dac5a8ba.d3886","group":"fefa3f68.4a0948","order":8,"width":0,"height":0,"name":"cutoffdelay","label":"DC-Out Cut-off Delay Time","format":"{{msg.payload.cutoffdelay}} minute(s)","layout":"row-spread","x":708,"y":408,"wires":[]},{"id":"4ea63f88.be315","type":"ui_text","z":"dac5a8ba.d3886","group":"fefa3f68.4a0948","order":4,"width":0,"height":0,"name":"temperature","label":"Battery Temperature","format":"{{msg.payload.temperature}} ¢XC","layout":"row-spread","x":708,"y":278,"wires":[]},{"id":"375ef2b.80bd00e","type":"ui_text","z":"dac5a8ba.d3886","group":"fefa3f68.4a0948","order":3,"width":0,"height":0,"name":"capacity","label":"Capacity","format":"{{msg.payload.capacity}} %","layout":"row-spread","x":699,"y":247,"wires":[]},{"id":"f64663a2.9932","type":"ui_text","z":"dac5a8ba.d3886","group":"fefa3f68.4a0948","order":9,"width":0,"height":0,"name":"ips","label":"IPS-AE","format":"{{msg.payload.ips}}","layout":"row-spread","x":869,"y":454,"wires":[]},{"id":"7ead7bd7.d757fc","type":"ui_text","z":"dac5a8ba.d3886","group":"fefa3f68.4a0948","order":10,"width":0,"height":0,"name":"dcin","label":"DC-IN","format":"{{msg.payload.dcin}}","layout":"row-spread","x":869,"y":485,"wires":[]},{"id":"b85795d8.abcb78","type":"ui_text","z":"dac5a8ba.d3886","group":"fefa3f68.4a0948","order":11,"width":0,"height":0,"name":"battery","label":"Battery","format":"{{msg.payload.battery}}","layout":"row-spread","x":879,"y":516,"wires":[]},{"id":"ccebb968.f27ed","type":"function","z":"dac5a8ba.d3886","name":"status to html","func":"if(msg.payload.ips==='1')\n    msg.payload.ips = \"<font color=\\\"green\\\" size=\\\"14\\\">¡´</font>\";\nelse\n    msg.payload.ips = \"<font color=\\\"red\\\" size=\\\"14\\\">¡´</font>\";\n    \nif(msg.payload.dcin==='1')\n    msg.payload.dcin = \"<font color=\\\"green\\\" size=\\\"14\\\">¡´</font>\";\nelse\n    msg.payload.dcin = \"<font color=\\\"red\\\" size=\\\"14\\\">¡´</font>\";\n    \nif(msg.payload.battery==='1')\n    msg.payload.battery = \"<font color=\\\"green\\\" size=\\\"14\\\">¡´</font>\";\nelse\n    msg.payload.battery = \"<font color=\\\"red\\\" size=\\\"14\\\">¡´</font>\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":709,"y":479,"wires":[["f64663a2.9932","7ead7bd7.d757fc","b85795d8.abcb78"]]},{"id":"80becc12.5fe5d","type":"ui_form","z":"dac5a8ba.d3886","name":"UVLS","label":"DC Input Lost Delay Time (3~360)","group":"470c99c7.05c5f8","order":3,"width":0,"height":0,"options":[{"label":"","value":"UPSDCinLostDelayTime","type":"text","required":true}],"formValue":{"UPSDCinLostDelayTime":""},"payload":"","topic":"","x":342,"y":245,"wires":[["78edebe5.6d8754"]]},{"id":"ff36a9a7.36575","type":"ui_form","z":"dac5a8ba.d3886","name":"UCFS","label":"DC-Out Cut-Off Delay Time (1~10)","group":"470c99c7.05c5f8","order":4,"width":0,"height":0,"options":[{"label":"","value":"UPSDCoutCutOffDelayTime","type":"text","required":true}],"formValue":{"UPSDCoutCutOffDelayTime":""},"payload":"","topic":"","x":341,"y":297,"wires":[["78edebe5.6d8754"]]},{"id":"78edebe5.6d8754","type":"atipsae","z":"dac5a8ba.d3886","serial":"","name":"","x":504,"y":281.9499816894531,"wires":[["bc830a7f.14f5e"],["b4e5dbd9.0d84b8","375ef2b.80bd00e","4ea63f88.be315","727f7bb3.1c6d7c","bb226910.5d45d","ccebb968.f27ed","d4e86a77.6fb67","661d2dcf.4e4494","c7ba0230.b079b8"],["dbe6f3e7.0f303"]]},{"id":"a4b4db73.833c1","type":"ui_dropdown","z":"dac5a8ba.d3886","name":"","label":"COM PORT","group":"470c99c7.05c5f8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"None","type":"str"}],"payload":"","topic":"COM PORT","x":224,"y":469.5,"wires":[["1db21c26.819ae4"]]},{"id":"1db21c26.819ae4","type":"function","z":"dac5a8ba.d3886","name":"","func":"if (msg.payload) {\n    var port = msg.payload;\n    msg.payload = {};\n    msg.payload.port = port;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":384,"y":469.5,"wires":[["78edebe5.6d8754","c0ae1044.81b87"]]},{"id":"c364534e.bb6b3","type":"inject","z":"dac5a8ba.d3886","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":59,"y":523.5,"wires":[["b70b0200.fad388"]]},{"id":"15cddbe4.263194","type":"function","z":"dac5a8ba.d3886","name":"","func":"if(msg.payload.Comports)\n{\n    if(Array.isArray(msg.payload.Comports))\n    {\n        var ret = {};\n        ret.options = [\"None\"];\n        for(i=0; i<msg.payload.Comports.length; i++)\n        {\n            ret.options.push(msg.payload.Comports[i].name);\n        }\n        var atConfig = global.get(\"atConfig\") || {}; \n        ret.payload = atConfig.UPSComPort;\n        return ret;\n    }\n}\n","outputs":1,"noerr":0,"x":245,"y":523.5,"wires":[["a4b4db73.833c1"]]},{"id":"b70b0200.fad388","type":"delay","z":"dac5a8ba.d3886","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":63,"y":578.5,"wires":[["779d3cd6.2277e4","6e6c4c4b.0247fc"]]},{"id":"928685c7.800dc","type":"exec","z":"dac5a8ba.d3886","command":"C:\\Windows\\System32\\shutdown.exe","addpay":false,"append":"/h","useSpawn":"","timer":"2","name":"Hibernate","x":1202,"y":189.5,"wires":[[],[],[]]},{"id":"dc4c7218.e9b6e8","type":"function","z":"dac5a8ba.d3886","name":"","func":"if(global.get(\"atConfig\").UPSHibernate)\n{\n    return [null, msg];\n}\nelse\n{\n    return [msg, null];\n}","outputs":"2","noerr":0,"x":1054,"y":158.5,"wires":[["44694ca.b03ddb4"],["928685c7.800dc"]]},{"id":"b0b2e5a6.5dd758","type":"ui_dropdown","z":"dac5a8ba.d3886","name":"","label":"Emergency Action","group":"470c99c7.05c5f8","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Shutdown","value":0,"type":"num"},{"label":"Hibernate","value":1,"type":"num"}],"payload":"","topic":"","x":410,"y":625.5,"wires":[["e850a531.c7024"]]},{"id":"e850a531.c7024","type":"function","z":"dac5a8ba.d3886","name":"","func":"if(!msg.fromInput)\n{\n    var atConfig = global.get(\"atConfig\");\n    atConfig.UPSHibernate = msg.payload;\n    global.set(\"atConfig\", atConfig);\n    msg.payload = atConfig;\n    return msg;\n}","outputs":1,"noerr":0,"x":570,"y":625.5,"wires":[["e6db8ddb.5037c8"]]},{"id":"e6db8ddb.5037c8","type":"link out","z":"dac5a8ba.d3886","name":"send config: UPS Settings","links":[],"x":574,"y":557.5,"wires":[]},{"id":"779d3cd6.2277e4","type":"function","z":"dac5a8ba.d3886","name":"","func":"var ret = {};\nvar atConfig = global.get(\"atConfig\") || {};\nret.payload = atConfig.UPSHibernate || 0;\nreturn ret;","outputs":1,"noerr":0,"x":235,"y":624.5,"wires":[["b0b2e5a6.5dd758"]]},{"id":"c0ae1044.81b87","type":"function","z":"dac5a8ba.d3886","name":"","func":"if(msg.payload.port)\n{\n    var atConfig = global.get(\"atConfig\") || {};\n    atConfig.UPSComPort = msg.payload.port;\n    global.set(\"atConfig\", atConfig);\n    msg.payload = atConfig;\n    return msg;\n}","outputs":1,"noerr":0,"x":458,"y":523.5,"wires":[["e6db8ddb.5037c8"]]},{"id":"dbe6f3e7.0f303","type":"ui_toast","z":"dac5a8ba.d3886","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":729,"y":541.5,"wires":[]},{"id":"39789d43.b4b5ea","type":"atplatform","z":"dac5a8ba.d3886","x":384,"y":571.5,"wires":[["15cddbe4.263194"]]},{"id":"6e6c4c4b.0247fc","type":"function","z":"dac5a8ba.d3886","name":"","func":"msg.payload = {Comports: 1};\nreturn msg;","outputs":1,"noerr":0,"x":239,"y":571.5,"wires":[["39789d43.b4b5ea"]]},{"id":"d4e86a77.6fb67","type":"function","z":"dac5a8ba.d3886","name":"","func":"var _msg = {payload: msg.payload.batterylife + \" minute(s)\"};\nif(msg.payload.batterylife==='65535')_msg.payload = \"Not Available\" ;\nreturn _msg;","outputs":1,"noerr":0,"x":687,"y":341.5,"wires":[["49197b4d.ee0584"]]},{"id":"49197b4d.ee0584","type":"ui_text","z":"dac5a8ba.d3886","group":"fefa3f68.4a0948","order":2,"width":0,"height":0,"name":"","label":"Battery Lifetime","format":"{{msg.payload}}","layout":"row-spread","x":878,"y":342.5,"wires":[]},{"id":"c7ba0230.b079b8","type":"ui_text","z":"dac5a8ba.d3886","group":"fefa3f68.4a0948","order":5,"width":0,"height":0,"name":"","label":"Max Battery Temperature","format":"{{msg.payload.maxtemperature}} ¢XC","layout":"row-spread","x":747,"y":309.5,"wires":[]},{"id":"661d2dcf.4e4494","type":"ui_text","z":"dac5a8ba.d3886","group":"fefa3f68.4a0948","order":6,"width":0,"height":0,"name":"","label":"Battery Voltage","format":"{{msg.payload.batteryvoltage/1000}} V","layout":"row-spread","x":718,"y":374.5,"wires":[]},{"id":"fefa3f68.4a0948","type":"ui_group","z":"","name":"UPS Information","tab":"1cfe714b.fb391f","order":2,"disp":true,"width":"6"},{"id":"470c99c7.05c5f8","type":"ui_group","z":"","name":"UPS Settings","tab":"1cfe714b.fb391f","order":1,"disp":true,"width":"6"},{"id":"1cfe714b.fb391f","type":"ui_tab","z":"","name":"UPS","icon":"dashboard"}]