demo.json
[{"id":"37eeb668.47906a","type":"function","z":"afa1abaa.8f8a58","name":"check cut-off trigger","func":"if(msg.payload == \"The DC-Out Cut-Off trigger\")\n{\n    return msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":805,"y":141.5,"wires":[["d1d46d5a.ec27a"]]},{"id":"3aeff398.98482c","type":"exec","z":"afa1abaa.8f8a58","command":"C:\\Windows\\System32\\shutdown.exe","addpay":false,"append":"/s /t 0","useSpawn":"","timer":"2","name":"shutdown","x":1275,"y":116,"wires":[[],[],[]]},{"id":"d1d46d5a.ec27a","type":"delay","z":"afa1abaa.8f8a58","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":995,"y":141.5,"wires":[["539059ec.038098"]]},{"id":"8d9839b0.ced608","type":"ui_text","z":"afa1abaa.8f8a58","group":"1d226ff0.aab6e","order":1,"width":0,"height":0,"name":"FW","label":"FW Version","format":"{{msg.payload.fwversion || \"Not available\"}}","layout":"row-spread","x":765,"y":196.5,"wires":[]},{"id":"b305ae19.e3e86","type":"ui_text","z":"afa1abaa.8f8a58","group":"1d226ff0.aab6e","order":7,"width":0,"height":0,"name":"inputlostdelay","label":"DC Input Lost Delay Time","format":"{{msg.payload.inputlostdelay}} sec","layout":"row-spread","x":793,"y":423.5,"wires":[]},{"id":"a065d9be.bc51f8","type":"ui_text","z":"afa1abaa.8f8a58","group":"1d226ff0.aab6e","order":8,"width":0,"height":0,"name":"cutoffdelay","label":"DC-Out Cut-off Delay Time","format":"{{msg.payload.cutoffdelay}} minute(s)","layout":"row-spread","x":783,"y":389.5,"wires":[]},{"id":"c488bae0.b58b38","type":"ui_text","z":"afa1abaa.8f8a58","group":"1d226ff0.aab6e","order":4,"width":0,"height":0,"name":"temperature","label":"Battery Temperature","format":"{{msg.payload.temperature}} ¢XC","layout":"row-spread","x":783,"y":259.5,"wires":[]},{"id":"444426c4.a7bfa8","type":"ui_text","z":"afa1abaa.8f8a58","group":"1d226ff0.aab6e","order":3,"width":0,"height":0,"name":"capacity","label":"Capacity","format":"{{msg.payload.capacity}} %","layout":"row-spread","x":774,"y":228.5,"wires":[]},{"id":"a8f1bf3.5764e4","type":"ui_text","z":"afa1abaa.8f8a58","group":"1d226ff0.aab6e","order":9,"width":0,"height":0,"name":"ips","label":"IPS-AE","format":"{{msg.payload.ips}}","layout":"row-spread","x":944,"y":435.5,"wires":[]},{"id":"2a0484b4.13b5bc","type":"ui_text","z":"afa1abaa.8f8a58","group":"1d226ff0.aab6e","order":10,"width":0,"height":0,"name":"dcin","label":"DC-IN","format":"{{msg.payload.dcin}}","layout":"row-spread","x":944,"y":466.5,"wires":[]},{"id":"9d710ae2.d51068","type":"ui_text","z":"afa1abaa.8f8a58","group":"1d226ff0.aab6e","order":11,"width":0,"height":0,"name":"battery","label":"Battery","format":"{{msg.payload.battery}}","layout":"row-spread","x":954,"y":497.5,"wires":[]},{"id":"9397733d.ab138","type":"function","z":"afa1abaa.8f8a58","name":"status to html","func":"if(msg.payload.ips==='1')\n    msg.payload.ips = \"<font color=\\\"green\\\" size=\\\"14\\\">¡´</font>\";\nelse\n    msg.payload.ips = \"<font color=\\\"red\\\" size=\\\"14\\\">¡´</font>\";\n    \nif(msg.payload.dcin==='1')\n    msg.payload.dcin = \"<font color=\\\"green\\\" size=\\\"14\\\">¡´</font>\";\nelse\n    msg.payload.dcin = \"<font color=\\\"red\\\" size=\\\"14\\\">¡´</font>\";\n    \nif(msg.payload.battery==='1')\n    msg.payload.battery = \"<font color=\\\"green\\\" size=\\\"14\\\">¡´</font>\";\nelse\n    msg.payload.battery = \"<font color=\\\"red\\\" size=\\\"14\\\">¡´</font>\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":784,"y":460.5,"wires":[["a8f1bf3.5764e4","2a0484b4.13b5bc","9d710ae2.d51068"]]},{"id":"3f96d72e.101d38","type":"ui_form","z":"afa1abaa.8f8a58","name":"UVLS","label":"DC Input Lost Delay Time (3~360)","group":"52d54dc4.b6e0b4","order":3,"width":0,"height":0,"options":[{"label":"","value":"UVLS","type":"text","required":true}],"formValue":{"UVLS":""},"payload":"","topic":"","x":417,"y":226.5,"wires":[["1975870.792f879"]]},{"id":"f885c66c.84e508","type":"ui_form","z":"afa1abaa.8f8a58","name":"UCFS","label":"DC-Out Cut-Off Delay Time (1~10)","group":"52d54dc4.b6e0b4","order":4,"width":0,"height":0,"options":[{"label":"","value":"UCFS","type":"text","required":true}],"formValue":{"UCFS":""},"payload":"","topic":"","x":416,"y":278.5,"wires":[["1975870.792f879"]]},{"id":"1975870.792f879","type":"atipsae","z":"afa1abaa.8f8a58","serial":"","name":"","x":579,"y":263.4499816894531,"wires":[["37eeb668.47906a"],["8d9839b0.ced608","444426c4.a7bfa8","c488bae0.b58b38","a065d9be.bc51f8","b305ae19.e3e86","9397733d.ab138","d9fe64be.e23928","458918ef.865098","f3406843.a036a8"],["243fa90c.5d22a6"]]},{"id":"66ad4192.bd6c2","type":"ui_dropdown","z":"afa1abaa.8f8a58","name":"","label":"COM PORT","group":"52d54dc4.b6e0b4","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"None","type":"str"}],"payload":"","topic":"COM PORT","x":299,"y":451,"wires":[["5d37fc6c.37f264"]]},{"id":"5d37fc6c.37f264","type":"function","z":"afa1abaa.8f8a58","name":"","func":"if (msg.payload) {\n    var port = msg.payload;\n    msg.payload = {};\n    msg.payload.port = port;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":459,"y":451,"wires":[["1975870.792f879","2e88fb25.fe0e54"]]},{"id":"79ab5c85.8fabc4","type":"inject","z":"afa1abaa.8f8a58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":134,"y":505,"wires":[["77f606d9.33b2b8"]]},{"id":"a6fd6caa.905cf","type":"function","z":"afa1abaa.8f8a58","name":"","func":"if(msg.payload.Comports)\n{\n    if(Array.isArray(msg.payload.Comports))\n    {\n        var ret = {};\n        ret.options = [\"None\"];\n        for(i=0; i<msg.payload.Comports.length; i++)\n        {\n            ret.options.push(msg.payload.Comports[i].name);\n        }\n        var atConfig = global.get(\"atConfig\") || {}; \n        ret.payload = atConfig.UPSComPort;\n        return ret;\n    }\n}\n","outputs":1,"noerr":0,"x":320,"y":505,"wires":[["66ad4192.bd6c2"]]},{"id":"77f606d9.33b2b8","type":"delay","z":"afa1abaa.8f8a58","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":138,"y":560,"wires":[["9c92502e.22a54","dcad3ad5.837e68"]]},{"id":"a44fe8b0.3ed7b8","type":"exec","z":"afa1abaa.8f8a58","command":"C:\\Windows\\System32\\shutdown.exe","addpay":false,"append":"/h","useSpawn":"","timer":"2","name":"Hibernate","x":1277,"y":171,"wires":[[],[],[]]},{"id":"539059ec.038098","type":"function","z":"afa1abaa.8f8a58","name":"","func":"if(global.get(\"atConfig\").UPSHibernate)\n{\n    return [null, msg];\n}\nelse\n{\n    return [msg, null];\n}","outputs":"2","noerr":0,"x":1129,"y":140,"wires":[["3aeff398.98482c"],["a44fe8b0.3ed7b8"]]},{"id":"6f798234.4ba30c","type":"ui_dropdown","z":"afa1abaa.8f8a58","name":"","label":"Emergency Action","group":"52d54dc4.b6e0b4","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Shutdown","value":0,"type":"num"},{"label":"Hibernate","value":1,"type":"num"}],"payload":"","topic":"","x":485,"y":607,"wires":[["949dc4cb.078978"]]},{"id":"949dc4cb.078978","type":"function","z":"afa1abaa.8f8a58","name":"","func":"if(!msg.fromInput)\n{\n    var atConfig = global.get(\"atConfig\");\n    atConfig.UPSHibernate = msg.payload;\n    global.set(\"atConfig\", atConfig);\n    msg.payload = atConfig;\n    return msg;\n}","outputs":1,"noerr":0,"x":645,"y":607,"wires":[["18ba81d8.aa172e"]]},{"id":"18ba81d8.aa172e","type":"link out","z":"afa1abaa.8f8a58","name":"send config: UPS Settings","links":[],"x":649,"y":539,"wires":[]},{"id":"9c92502e.22a54","type":"function","z":"afa1abaa.8f8a58","name":"","func":"var ret = {};\nvar atConfig = global.get(\"atConfig\") || {};\nret.payload = atConfig.UPSHibernate || 0;\nreturn ret;","outputs":1,"noerr":0,"x":310,"y":606,"wires":[["6f798234.4ba30c"]]},{"id":"2e88fb25.fe0e54","type":"function","z":"afa1abaa.8f8a58","name":"","func":"if(msg.payload.port)\n{\n    var atConfig = global.get(\"atConfig\") || {};\n    atConfig.UPSComPort = msg.payload.port;\n    global.set(\"atConfig\", atConfig);\n    msg.payload = atConfig;\n    return msg;\n}","outputs":1,"noerr":0,"x":533,"y":505,"wires":[["18ba81d8.aa172e"]]},{"id":"243fa90c.5d22a6","type":"ui_toast","z":"afa1abaa.8f8a58","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":804,"y":523,"wires":[]},{"id":"c20beb5f.2e72b8","type":"atplatform","z":"afa1abaa.8f8a58","x":459,"y":553,"wires":[["a6fd6caa.905cf"]]},{"id":"dcad3ad5.837e68","type":"function","z":"afa1abaa.8f8a58","name":"","func":"msg.payload = {Comports: 1};\nreturn msg;","outputs":1,"noerr":0,"x":314,"y":553,"wires":[["c20beb5f.2e72b8"]]},{"id":"d9fe64be.e23928","type":"function","z":"afa1abaa.8f8a58","name":"","func":"var _msg = {payload: msg.payload.batterylife + \" minute(s)\"};\nif(msg.payload.batterylife==='65535')_msg.payload = \"Not Available\" ;\nreturn _msg;","outputs":1,"noerr":0,"x":762,"y":323,"wires":[["2865f967.b29e76"]]},{"id":"2865f967.b29e76","type":"ui_text","z":"afa1abaa.8f8a58","group":"1d226ff0.aab6e","order":2,"width":0,"height":0,"name":"","label":"Battery Lifetime","format":"{{msg.payload}}","layout":"row-spread","x":953,"y":324,"wires":[]},{"id":"f3406843.a036a8","type":"ui_text","z":"afa1abaa.8f8a58","group":"1d226ff0.aab6e","order":5,"width":0,"height":0,"name":"","label":"Max Battery Temperature","format":"{{msg.payload.maxtemperature}} ¢XC","layout":"row-spread","x":822,"y":291,"wires":[]},{"id":"458918ef.865098","type":"ui_text","z":"afa1abaa.8f8a58","group":"1d226ff0.aab6e","order":6,"width":0,"height":0,"name":"","label":"Battery Voltage","format":"{{msg.payload.batteryvoltage/1000}} V","layout":"row-spread","x":793,"y":356,"wires":[]},{"id":"1d226ff0.aab6e","type":"ui_group","z":"","name":"UPS Information","tab":"e903bf50.0105b","order":2,"disp":true,"width":"6"},{"id":"52d54dc4.b6e0b4","type":"ui_group","z":"","name":"UPS Settings","tab":"e903bf50.0105b","order":1,"disp":true,"width":"6"},{"id":"e903bf50.0105b","type":"ui_tab","z":"","name":"UPS","icon":"dashboard"}]