demo.json
[{"id":"98857095.46b21","type":"atipsae","z":"1f580e5f.a850e2","serial":"","name":"","x":430,"y":160,"wires":[["c659394b.1c6cb8"],["7ca2a000.a9895"],["5759eaf1.3a4774"]]},{"id":"7ca2a000.a9895","type":"debug","z":"1f580e5f.a850e2","name":"","active":true,"console":"false","complete":"true","x":616,"y":158.05001831054688,"wires":[]},{"id":"5759eaf1.3a4774","type":"debug","z":"1f580e5f.a850e2","name":"","active":true,"console":"false","complete":"true","x":616,"y":198.05001831054688,"wires":[]},{"id":"66c640c7.070c9","type":"inject","z":"1f580e5f.a850e2","name":"UPSDCinLostDelayTime","topic":"","payload":"{\"UPSDCinLostDelayTime\": 300}","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":200,"wires":[["98857095.46b21"]]},{"id":"4781326b.c6ab8c","type":"inject","z":"1f580e5f.a850e2","name":"UPSDCoutCutOffDelayTime","topic":"","payload":"{\"UPSDCoutCutOffDelayTime\": 5}","payloadType":"json","repeat":"","crontab":"","once":false,"x":180,"y":240,"wires":[["98857095.46b21"]]},{"id":"6acae726.660b98","type":"inject","z":"1f580e5f.a850e2","name":"","topic":"","payload":"{\"port\": \"COM1\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":210,"y":160,"wires":[["98857095.46b21"]]},{"id":"c659394b.1c6cb8","type":"debug","z":"1f580e5f.a850e2","name":"","active":true,"console":"false","complete":"true","x":616,"y":118.05001831054688,"wires":[]}]